<p><a id="comment-link" href="#">Leave a comment</a></p>
<form id="new-comment" class="comment" style="display: none;" method="post" action="http://eatenbygrues.com/comments.php">
<input id="postid" name="postid" type="hidden" value="{{ page.postid }}{% if page.postid == blank %}0{% endif %}">
<input id="moniker" name="moniker" type="hidden" value="{{ page.moniker }}">
<div class="form-control">
<input id="author" name="author" type="text" placeholder="Your name">
</div>
<div class="form-control">
<input id="email" name="email" type="text" placeholder="Your email (private)">
</div>
<div class="form-control">
<input id="website" name="website" type="text" placeholder="Your website">
</div>
<div class="form-control">
<textarea id="content" name="content" type="text" rows="10" placeholder="Enter your comment here. Please keep it clean and relevant. Abusive comments and/or advertisements for commercial goods and services will be deleted."></textarea>
</div>
<button id="submit" type="button">Submit</button>
</form>
